<!DOCTYPE html>
<html>
<head>
  <title>Fias</title>
  <%= stylesheet_link_tag    "fias/application", media: "all" %>
  <%= javascript_include_tag "fias/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
